In [1]:
import numpy as np
import pandas as pd

In [2]:
X_train_Q1 = pd.read_excel('../data/interim/X_train_Q1_clean.xlsx')
X_valid_Q1 = pd.read_excel('../data/interim/X_valid_Q1_clean.xlsx')

y_train_Q1 = pd.read_excel('../data/interim/y_train_Q1.xlsx')
y_valid_Q1 = pd.read_excel('../data/interim/y_valid_Q1.xlsx')

In [3]:
df = pd.concat([X_train_Q1, y_train_Q1.iloc[:,0:12]], axis = 1)

In [4]:
df.shape

(10376, 13)

In [38]:
labels = []
records = []

for i in df.columns[1:]:
    labels.append(i)
    records.append(np.sum(df[i]))

In [39]:
distribution = pd.DataFrame({'labels':labels, 'records': records})
distribution.sort_values(by = 'records', ascending = False)

   labels  records
9    TEPE     2390
8      SW     1616
10    VMG     1398
3    Exec     1396
1      CB     1305
0     CPD     1293
5      SP     1040
7     Sup     1025
2     EWC      933
6      RE      843
4     FEW      821
11    OTH      505

### Let's build a dataset with 500 records for each Label

In [50]:
num_records = 300 #to get 500 records per label

In [51]:
sub_df = pd.DataFrame()

for i in df.columns[1:]:
    temp = df.query(f'{i} == 1').sample(num_records)
    sub_df = pd.concat([sub_df, temp])

### Removing these duplicates

In [52]:
sub_df = sub_df.drop_duplicates(keep = 'first')

In [53]:
labels = []
records = []

for i in sub_df.columns[1:]:
    labels.append(i)
    records.append(np.sum(sub_df[i]))
    
distribution = pd.DataFrame({'labels':labels, 'records': records})
distribution.sort_values(by = 'records', ascending = False)

   labels  records
8      SW      559
9    TEPE      536
3    Exec      510
0     CPD      492
10    VMG      486
7     Sup      464
1      CB      462
5      SP      437
2     EWC      434
6      RE      415
4     FEW      381
11    OTH      329

In [54]:
sub_df

,Comment,CPD,CB,EWC,Exec,FEW,SP,RE,Sup,SW,TEPE,VMG,OTH
3515,To provide training opportunities that align w...,1,0,0,0,0,0,0,0,0,0,1,0
1747,create opportunities for SW's to move laterall...,1,0,0,0,0,1,0,0,0,1,0,0
305,I feel its critical to have ongoing training a...,1,0,0,0,0,0,0,0,0,0,1,0
4988,feel upset against those supervisors and the s...,1,0,0,1,0,0,0,0,0,0,0,0
107,Learn to value and treat auxiliary employees w...,1,1,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6102,"Transparent work planning. Meeting agendas, ac...",0,0,0,0,0,0,0,0,0,0,0,1
5589,I struggle with some of my answers because I d...,0,0,0,0,0,0,0,0,1,0,0,1
9542,"Ensuring that IT issues, access and upgrades a...",0,0,0,0,0,0,0,0,0,1,0,1
6413,A more effective and informed group to support...,0,0,0,0,0,0,0,0,0,0,0,1
10004,"Show a strong stance on the environment, fight...",0,0,0,0,0,0,0,0,0,0,0,1

In [55]:
sub_df.to_excel('../data/interim/undersampling.xlsx', index=False)